<nav class="navbar navbar-expand-md navbar-dark bg-dark">


  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="dashboard">Dashboard</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="categories">Categories</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="food">Food</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="reporting">Reporting</a>
      </li>
    </ul>
  </div>
</nav>

<main role="main" class="container-fluid">

  <div>
    <router-outlet></router-outlet>
  </div>

</main>
